INFLUXDB_HTTP_PORT=8181
INFLUXDB_HOST=influxdb3-core
INFLUXDB_TOKEN=
INFLUXDB_BUCKET=
INFLUXDB_ORG=
INFLUXDB_NODE_ID=
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
TELEGRAF_COLLECTION_INTERVAL=10s
DOCKER_SOCKET=
ITP_RUNTIME_MODE=central
